<!DOCTYPE html>
<html lang="fr" ng-app="mdEdit">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofollow" />
	<title>MD Edit</title>
	<link rel="stylesheet" href="./lib/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./css/table.css" />
	<link rel="stylesheet" href="./css/mdedit.css" />
	<style type="text/css">

	</style>
	<base href=".">
</head>

<body ng-controller="mdEditCtrl as vm">

	<div ng-hide="vm.data.pageLoaded" id="alert" class="" role="alert">
		<uib-progressbar class="progress-striped active" value="100" type="info">Page loading...</uib-progressbar>
	</div>

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				<a class="navbar-brand" href="#">mdedit</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-menu">
				<form class="navbar-form navbar-left" role="search" ng-show="vm.data.view == 3">
					<div class="form-group has-feedback">
						<div class="input-group input-group-sm">
							<input type="text" class="form-control" id="txt-search" placeholder="Search" ng-model="vm.fieldSearch">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.clearSearch()">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
							</div>
						</div>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="" uib-tooltip="Aide" tooltip-trigger="mouseenter" tooltip-placement="bottom">
						<a href="#" role="button" class="glyphicon glyphicon-info-sign" ng-click="vm.openModalDoc('help')"><span class="visible-xs-inline"> {{vm.ui.bt_help}}</span></a>
					</li>
					<li class="" uib-tooltip="Importer un XML" tooltip-trigger="mouseenter" tooltip-placement="bottom">
						<a href="#" role="button" class="glyphicon glyphicon-import" ng-click="vm.openModalSetXml()"><span class="visible-xs-inline"> {{vm.ui.bt_upload_xml}}</span></a>
					</li>
					<li class="" uib-tooltip="Générer un XML" tooltip-trigger="mouseenter" tooltip-placement="bottom">
						<a href="#" role="button" class="glyphicon glyphicon-export" ng-click="vm.openModalGetXml()"><span class="visible-xs-inline"> {{vm.ui.bt_download_xml}}</span></a>
					</li>
					<li class="" uib-tooltip="Permuter entre les modes 'Edition' et 'Visualisation'" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-hide="vm.data.view == 1">
						<a href="#" role="button" class="glyphicon glyphicon-pencil" ng-click="vm.changeView(1)"><span class="visible-xs-inline"> {{vm.ui.bt_view_mode}}</span></a>
					</li>
					<li class="" uib-tooltip="Permuter entre les modes 'Edition' et 'Visualisation'" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-hide="vm.data.view != 1">
						<a href="#" role="button" class="glyphicon glyphicon-eye-open" ng-click="vm.changeView(2)"><span class="visible-xs-inline"> {{vm.ui.bt_edit_mode}}</span></a>
					</li>
					<li class="" uib-tooltip="Liste des fichiers xml ({{vm.data.sec.org}})" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-show="vm.data.sec.editor && vm.data.view != 3">
						<a href="#" role="button" class="glyphicon glyphicon-list-alt" ng-click="vm.getListXml()"><span class="visible-xs-inline"> Liste des métadonnées</span></a>
					</li>
					<li ng-show="vm.data.view == 1" uib-tooltip="Permuter entre l'affichage 'simple' et 'complet'" tooltip-trigger="mouseenter" tooltip-placement="bottom" ng-hide="vm.data.view == 3">
						<a href="#" role="button" class="glyphicon glyphicon-th" ng-init="vm.showAllFields=False" ng-click="vm.showAllFields = !vm.showAllFields" ng-show="!vm.showAllFields"><span class="visible-xs-inline"> {{vm.ui.bt_simple_view}}</span></a>
						<a href="#" role="button" class="glyphicon glyphicon-th-large" ng-click="vm.showAllFields = !vm.showAllFields" ng-show="vm.showAllFields"><span class="visible-xs-inline"> {{vm.ui.bt_complet_view}}</span></a>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<div id="content" class="container" ng-include="vm.data.template_url">
	</div>

	<footer id="footer">
		<nav class="navbar navbar-default navbar-fixed-bottom">
			<div class="container-fluid">
				<div class="navbar-text navbar-left">
					Copyright © 2016 - <a href="https://www.cigalsace.org" class="navbar-link">CIGAL</a>
				</div>
				<div class="navbar-text navbar-right">
					<a href="" ng-click="vm.openModalDoc('mentions')" class="navbar-link">Mentions légales</a> -
					<!-- changeLocales directive -->
					<span change-locales></span> -
					<!-- permalink -->
					<a target="_blank" role="button" class="navbar-link glyphicon glyphicon-link" ng-click="vm.getPermalink()"></a>
				</div>
			</div>
		</nav>
	</footer>

	<!-- JS Scripts -->
	<!-- Libs -->
	<script src="./lib/showdown/showdown.min.js"></script>
	<script src="./lib/jquery/jquery-2.2.4.min.js"></script>
	<script src="./lib/angular/angular-1.5.3.min.js"></script>
	<!-- <script src="./lib/angular/1.5.3/i18n/angular-locale_fr-fr.js"></script> -->
	<script src="./lib/ui-bootstrap/ui-bootstrap-tpls-1.3.0.min.js"></script>
	<script src="./lib/moment/moment-with-locales.min.js"></script>
	<script src="./lib/vkbeautify/vkbeautify.js"></script>
	<script src="./lib/mdjs/mdjs.js"></script>

	<!-- mdEdit App -->
	<script src="./app/mdEdit.js"></script>
	<script src="./app/mdEdit.controllers.js"></script>

	<!-- mdEdit Services -->
	<script src="./app/mdEdit.services/mdjs.js"></script>
	<script src="./app/mdEdit.services/empty-json.js"></script>
	<script src="./app/mdEdit.services/config.js"></script>
	<script src="./app/mdEdit.services/appData.js"></script>
	<script src="./app/mdEdit.services/broadcast.js"></script>
	<script src="./app/mdEdit.services/xml.js"></script>
	<script src="./app/mdEdit.services/jsonConverter.js"></script>
	<script src="./app/mdEdit.services/locales.js"></script>
	<script src="./app/mdEdit.services/models.js"></script>
	<script src="./app/mdEdit.services/views.js"></script>
	<script src="./app/mdEdit.services/extents.js"></script>
	<script src="./app/mdEdit.services/checkValues.js"></script>
	<script src="./app/mdEdit.services/permalink.js"></script>
	<!-- <script src="./app/mdEdit.services/modal.js"></script> -->

	<!-- mdEdit filters -->
	<script src="./app/mdEdit.filters/array2string.js"></script>
	<script src="./app/mdEdit.filters/string2array.js"></script>
	<script src="./app/mdEdit.filters/nl2br.js"></script>
	<script src="./app/mdEdit.filters/translateCode.js"></script>

	<!-- mdEdit directives -->
	<script src="./app/mdEdit.directives/edit/editAccordionHeader.js"></script>
	<script src="./app/mdEdit.directives/edit/editInput.js"></script>
	<script src="./app/mdEdit.directives/edit/editTextarea.js"></script>
	<script src="./app/mdEdit.directives/edit/editSelect.js"></script>
	<script src="./app/mdEdit.directives/edit/editMultiSelect.js"></script>
	<script src="./app/mdEdit.directives/edit/editMultiTextarea.js"></script>
	<script src="./app/mdEdit.directives/edit/editDate.js"></script>
	<script src="./app/mdEdit.directives/edit/editContacts.js"></script>
	<script src="./app/mdEdit.directives/edit/editDataIdentifiers.js"></script>
	<script src="./app/mdEdit.directives/edit/editDataBrowsegraphics.js"></script>
	<script src="./app/mdEdit.directives/edit/editDataTemporalExtents.js"></script>
	<script src="./app/mdEdit.directives/edit/editDataGeographicExtents.js"></script>
	<script src="./app/mdEdit.directives/edit/editDataLinkages.js"></script>
	<script src="./app/mdEdit.directives/edit/editDataReferenceSystems.js"></script>
	<script src="./app/mdEdit.directives/edit/editDataDistributionFormats.js"></script>
	<script src="./app/mdEdit.directives/edit/editDataKeywords.js"></script>
	<script src="./app/mdEdit.directives/changeLocales/changeLocales.js"></script>
	<!-- <script src="./app/directives/edit/editDataTitle.js"></script> -->

	<!-- modalDoc module -->
	<script src="./app/modalDoc.module/modalDoc.controllers.js"></script>
	<script src="./app/modalDoc.module/modalDoc.services.js"></script>
	<!-- modalGetXml module -->
	<script src="./app/modalGetXml.module/modalGetXml.controllers.js"></script>
	<script src="./app/modalGetXml.module/modalGetXml.services.js"></script>
	<!-- modalSetXml module -->
	<script src="./app/modalSetXml.module/modalSetXml.controllers.js"></script>
	<script src="./app/modalSetXml.module/modalSetXml.services.js"></script>
	<script src="./app/modalSetXml.module/directives/uploadFile.js"></script>

	<script language="javascript" type="text/javascript">
		// console.log(mdjs.empty_json.contact);
	</script>
</body>

</html>
