<!DOCTYPE html>
<html lang="fr" ng-app="mdEditApp">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="noindex,nofollow" />
        <title>MD Edit</title>
        <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css" />
        <!--<link rel="stylesheet" href="./lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" />
        <link rel="stylesheet" href="./lib/bootstrap-select/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="./lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" />-->
        <link rel="stylesheet" href="./css/mdedit.css" />
        <style type="text/css">
            /*body { margin-top: 1em; }
            .col { padding: 0 .2em 0 .2em; }*/
            body { padding-top: 70px; padding-bottom: 70px; }
			.form-group {margin-bottom: 10px;}
			.control-label {margin-bottom: 2px;}
            .panel .panel-heading.middle { border-radius: 0; }
            .note-footer .checkbox { margin: 0.5em 0 0 0; }
            .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { border-top: 0; }
            .bt-doc { cursor: pointer; }
            .modal-doc h1 { font-size: 1.5em; font-weight: bold; }
            .modal-doc h2 { font-size: 1.2em; font-weight: bold; }
            .modal-doc h3 { font-size: 1em; font-weight: bold; }
            .modal-doc { font-size: 1em; }
            
        </style>
    </head>
    <body ng-controller="mdEditCtrl">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
                    <a class="navbar-brand" href="#">mdedit</a>
                </div>
				<div class="collapse navbar-collapse" id="navbar-menu">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group has-feedback">
							<div class="input-group input-group-sm">
								<input type="text" class="form-control" id="txt-search" placeholder="Search" ng-model="fieldSearch" disabled>
								<div class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="clearSearch()" disabled>
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
								</div>
							</div>
						</div>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li class="" tooltip="Aide" tooltip-trigger="mouseenter" tooltip-placement="bottom">
							<a href="#" role="button" class="glyphicon glyphicon-info-sign" ng-click="modalDoc('doc/html/mdEdit.html')"><span class="visible-xs-inline"> {{ui.bt_help}}</span></a>
						</li>
						<li class="" tooltip="Importer un XML" tooltip-trigger="mouseenter" tooltip-placement="bottom">
							<a href="#" role="button" class="glyphicon glyphicon-import" ng-click="modalUpload()"><span class="visible-xs-inline"> {{ui.bt_upload_xml}}</span></a>
						</li>
						<li class="" tooltip="Générer un XML" tooltip-trigger="mouseenter" tooltip-placement="bottom">
							<a href="#" role="button" class="glyphicon glyphicon-export" ng-click="modalGetXML()"><span class="visible-xs-inline"> {{ui.bt_download_xml}}</span></a>
						</li>
						<li class="" tooltip="Permuter entre les modes 'Edition' et 'Visualisation'" tooltip-trigger="mouseenter" tooltip-placement="bottom">
							<!--<a href="#" role="button" ng-click="modalViewMD()">{{ui.bt_view_xml}}</a>-->
							<a href="#" role="button" class="glyphicon glyphicon-pencil" ng-click="template_url = 'partials/tpl-edit.html'" ng-show="template_url == 'partials/tpl-view.html'"><span class="visible-xs-inline"> {{ui.bt_view_mode}}</span></a>
							<a href="#" role="button" class="glyphicon glyphicon-eye-open" ng-click="template_url = 'partials/tpl-view.html'" ng-show="template_url == 'partials/tpl-edit.html'"><span class="visible-xs-inline"> {{ui.bt_edit_mode}}</span></a>
						</li>
						<li ng-show="template_url == 'partials/tpl-edit.html'" tooltip="Permuter entre l'affichage 'simple' et 'complet'" tooltip-trigger="mouseenter" tooltip-placement="bottom">
							<!--<a href="#" role="button" ng-click="modalViewMD()">{{ui.bt_view_xml}}</a>-->
							<a href="#" role="button" class="glyphicon glyphicon-th" ng-init="showAllFields=False" ng-click="showAllFields = !showAllFields" ng-show="!showAllFields"><span class="visible-xs-inline"> {{ui.bt_simple_view}}</span></a>
							<a href="#" role="button" class="glyphicon glyphicon-th-large" ng-click="showAllFields = !showAllFields" ng-show="showAllFields"><span class="visible-xs-inline"> {{ui.bt_complet_view}}</span></a>
						</li>
					</ul>
				</div>
            </div>
        </nav>
        
        <div id="content" class="container" ng-include="template_url" ng-init="template_url = 'partials/tpl-edit.html'">
        </div>

        
<!--
            <div class="col col-sm-3" id="sidebar">
                <div class="panel panel-primary" data-spy="affix_" data-offset-top="60">
                    <div class="panel-heading">
                        <h3 class="panel-title">Projects</h3>
                    </div>
                    <ul class="list-group" ng-repeat="project in projects">
                        <li class="list-group-item"><a href="#">{{project.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
-->

        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header hidden-xs">
                    <a class="navbar-brand" href="#">mdEdit</a>
                </div>
                <!--
                <div class="nav navbar-nav navbar-right">
                    <button type="button" class="btn btn-primary btn-xs navbar-btn">Générer XML</button>
                </div>
                -->
            </div>
        </nav>


        <!-- JS Scripts -->
        <script src="./lib/jquery/jquery-2.1.4.min.js"></script>
        <script src="./lib/showdown/showdown.min.js"></script>
        <script src="./lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="./lib/angular/angular.min.js"></script>
        <script src="./lib/angular/i18n/angular-locale_fr-fr.js"></script>
        <script src="./lib/ui-bootstrap/ui-bootstrap-tpls-0.13.0.min.js"></script>
        <script src="./lib/moment/moment-with-locales.min.js"></script>
        <!--<script src="./lib/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script src="./lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="./lib/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js"></script>-->
        <script src="./js/helpers.js"></script>
        <script src="./js/config.js"></script>
        <script src="./js/xpaths.js"></script>
        <!--<script src="./js/codelists.js"></script>-->
        <script src="./js/xml2json.js"></script>
        <script src="./js/json2xml.js"></script>
        <script src="./js/mdedit.js"></script>
        <script language="javascript" type="text/javascript">
            $(function () {
                //$('[data-toggle="tooltip"]').tooltip();
                /*
                $('.input-group.date').datepicker({
                    format: "yyyy-mm-dd",
                    todayBtn: "linked",
                    clearBtn: true,
                    language: "fr",
                    orientation: "bottom auto",
                    todayHighlight: true
                    //defaultViewDate: { year: 1977, month: 04, day: 25 }
                });
                */
            })
        </script>
    </body>
</html>
