<div class="">
    <table class="table table-condensed">
        <th>
            <span class="bt-doc control-label" uib-tooltip="{{description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="openModalDoc(field)">
                {{label}}
            </span>
        </th>
        <th ng-show="multi">
            <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-plus" aria-hidden="true" ng-click="addItem()"></button>
        </th>
        <tr ng-repeat="item in vm.data.metadata[field] track by $index">
            <td>
                <select class="form-control input-sm" name="{{code.id}}" id="{{code.id}}" ng-options="referenceSystem.id as referenceSystem.value for referenceSystem in list" ng-model="item.code">
                    <option value="">Sélectionnez un système de projection</option>
                </select>
                <input type="hidden" value="EPSG" ng-model="item.codeSpace" />
            </td>
            <td ng-show="multi">
                <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-minus" aria-hidden="true" ng-click="removeItem(item)"></button>
            </td>
        </tr>
    </table>
</div>
