    <form id="modal-edit-form">
        <div class="modal-header">
            <button type="button" class="close" ng-click="modal.close()" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Upload file</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label class="bt-doc control-label" for="" uib-tooltip="model" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modal.openModalDoc('doc/html/empty.html')">
                    Charger un modèle de fiche prérempli
                </label>
                <select class="form-control input-sm" name="models" ng-options="modal.models.indexOf(model)+1 as model.value for model in modal.models" ng-model="model_id" ng-change="modal.getMetadataModel(model_id)">
                    <option value="">Sélectionnez un modèle</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="file_input" uib-tooltip="Fichier XML à charger" tooltip-trigger="mouseenter" tooltip-placement="right">
                    Charger une fiche à partir d'un fichier (XML)
                </label>
                <!-- <input type="file" id="file_input" class="" ng-model="file_input" onchange="angular.element(this).modal.getFileContent(this)" /> -->
                <input type="file" id="file_input" upload-file modal="modal" />
                <!-- <div id="file_content" ng-model="file_content"></div> -->
            </div>
            <div class="form-group">
                <label class="control-label" for="url_input" uib-tooltip="URL à charger" tooltip-trigger="mouseenter" tooltip-placement="right">
                    Charger une fiche à partir d'un URL (XML)
                </label>
                <input class="form-control input-sm" type="text" id="url_input" ng-model="modal.url_input" />
            </div>
		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" ng-click="modal.getUrl(modal.url_input)"><span class="glyphicon glyphicon-floppy-save"></span> Download URL</button>
			<button type="submit" class="btn btn-primary" ng-click="modal.close()"><span class="glyphicon glyphicon-close"></span> Close</button>
		</div>
    </form>
