<div class="">
    <table class="table table-condensed">
        <th>
            <span class="bt-doc control-label" uib-tooltip="{{description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('empty', $event)">
                {{label}}
            </span>
        </th>
        <th ng-show="multi">
            <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-plus" aria-hidden="true" ng-click="addItem()"></button>
        </th>
        <tr ng-repeat="item in metadata[field] track by $index">
            <td>
                <select class="form-control input-sm selectpicker_" name="{{id}}" id="{{id}}" ng-options="item.id as item.value for item in list" ng-model="metadata[field][$index]" ng-change="change()">
                    <option value="">{{placeholder}}</option>
                </select>
                <!-- <input type="hidden" value="EPSG" ng-model="referenceSystem.codeSpace" /> -->
            </td>
            <td ng-show="multi">
                <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-minus" aria-hidden="true" ng-click="removeItem(item)"></button>
            </td>
        </tr>
    </table>
</div>
