<div class="">
    <label class="bt-doc control-label" for="{{id}}" uib-tooltip="{{description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('empty', $event)">
        {{label}}
    </label>
    <table class="table table-condensed">
        <tr>
            <th>
                <span class="bt-doc control-label" uib-tooltip="{{name.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('empty', $event)">
                {{name.label}}
            </span>
            </th>
            <th>
                <span class="bt-doc control-label" uib-tooltip="{{description.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('empty', $event)">
                {{description.label}}
            </span>
            </th>
            <th>
                <span class="bt-doc control-label" uib-tooltip="{{url.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('empty', $event)">
                {{url.label}}
            </span>
            </th>
            <th>
                <span class="bt-doc control-label" uib-tooltip="{{protocol.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('empty', $event)">
                {{protocol.label}}
            </span>
            </th>
            <th>
                <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-plus" aria-hidden="true" ng-click="addItem()"></button>
            </th>
        </tr>
        <tr ng-repeat="item in metadata[field] track by $index">
            <td>
                <input type="text" class="form-control input-sm" name="{{name.id}}" id="{{name.id}}" placeholder="{{name.placeholder}}" ng-model="item.name" />
            </td>
            <td>
                <textarea class="form-control input-sm" id="{{description.id}}" name="{{description.id}}" placeholder="{{description.placeholder}}" rows="3" ng-model="item.description"></textarea>
            </td>
            <td>
                <input type="text" class="form-control input-sm" name="{{url.id}}" id="{{url.id}}" placeholder="{{url.placeholder}}" ng-model="item.url" />
            </td>
            <td>
                <select class="form-control input-sm selectpicker_" name="{{id}}" id="{{id}}" ng-options="linkage.id as linkage.value for linkage in codelists.MD_LinkageProtocolCode" ng-model="item.protocol">
                    <option value="">Sélectionnez</option>
                </select>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-minus" aria-hidden="true" ng-click="removeItem(item)"></button>
            </td>
        </tr>
    </table>
</div>
