<div>
    <!-- Contacts -->
    <div ng-repeat="contact in metadata[cnt_type] track by $index">
        <div class="row">
            <!-- contacts.role -->
            <div class="col-md-5 form-group">
                <label class="bt-doc control-label" for="{{fields[cnt_type].children.role.id}}" uib-tooltip="{{fields[cnt_type].children.role.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                    {{fields[cnt_type].children.role.label}}
                </label>
                <select class="form-control input-sm selectpicker_" name="{{fields[cnt_type].children.role.id}}" id="{{fields[cnt_type].children.role.id}}" ng-options="role.id as role.value for role in codelists.CI_RoleCode" ng-model="contact.role">
                    <option value="">Sélectionnez un role</option>
                </select>
            </div>
            <div class="col-md-7 btn-toolbar">
                <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-minus" aria-hidden="true" ng-click="removeContact(contact)"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <!-- contacts.individualName -->
                <div class="form-group">
                    <label class="bt-doc control-label" for="{{fields[cnt_type].children.individualName.id}}" uib-tooltip="{{fields[cnt_type].children.individualName.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                        {{fields[cnt_type].children.individualName.label}}
                    </label>
                    <input type="text" class="form-control input-sm" name="{{fields[cnt_type].children.individualName.id}}" id="{{fields[cnt_type].children.individualName.id}}" placeholder="{{fields[cnt_type].children.individualName.placeholder}}" ng-model="contact.individualName" />
                </div>
                <!-- contacts.positionName -->
                <div class="form-group">
                    <label class="bt-doc control-label" for="{{fields[cnt_type].children.positionName.id}}" uib-tooltip="{{fields[cnt_type].children.positionName.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                        {{fields[cnt_type].children.positionName.label}}
                    </label>
                    <input type="text" class="form-control input-sm" name="{{fields[cnt_type].children.positionName.label}}" id="{{fields[cnt_type].children.positionName.id}}" placeholder="{{fields[cnt_type].children.positionName.placeholder}}" ng-model="contact.positionName" />
                </div>
                <!-- contacts.organisationName -->
                <div class="form-group _has-warning">
                    <label class="bt-doc control-label" for="{{fields[cnt_type].children.organisationName.id}}" uib-tooltip="{{fields[cnt_type].children.organisationName.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                        {{fields[cnt_type].children.organisationName.label}}
                    </label>
                    <input type="text" class="form-control input-sm" name="{{fields[cnt_type].children.organisationName.id}}" id="{{fields[cnt_type].children.organisationName.id}}" placeholder="{{fields[cnt_type].children.organisationName.placeholder}}" ng-model="contact.organisationName"
                    />
                </div>
            </div>
            <div class="col-md-7">
                <!-- contacts.deliveryPoints -->
                <div class="form-group">
                    <label class="bt-doc control-label" for="{{fields[cnt_type].children.deliveryPoints.id}}" uib-tooltip="{{fields[cnt_type].children.deliveryPoints.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                        {{fields[cnt_type].children.deliveryPoints.label}}
                    </label>
                    <textarea class="form-control input-sm" id="{{fields[cnt_type].children.deliveryPoints.id}}" name="{{fields[cnt_type].children.deliveryPoints.id}}" placeholder="{{fields[cnt_type].children.deliveryPoints.placeholder}}" rows="3" ng-model="contact.deliveryPoints"></textarea>
                </div>
                <div class="row">
                    <!-- contacts.postalCode -->
                    <div class="col-md-4 form-group">
                        <label class="bt-doc control-label" for="{{fields[cnt_type].children.postalCode.id}}" uib-tooltip="{{fields[cnt_type].children.postalCode.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                            {{fields[cnt_type].children.postalCode.label}}
                        </label>
                        <input type="text" class="form-control input-sm" name="{{fields[cnt_type].children.postalCode.label}}" id="{{fields[cnt_type].children.postalCode.id}}" placeholder="{{fields[cnt_type].children.postalCode.placeholder}}" ng-model="contact.postalCode" />
                    </div>
                    <!-- contacts.city -->
                    <div class="col-md-8 form-group">
                        <label class="bt-doc control-label" for="{{fields[cnt_type].children.city.id}}" uib-tooltip="{{fields[cnt_type].children.city.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                            {{fields[cnt_type].children.city.label}}
                        </label>
                        <input type="text" class="form-control input-sm" name="{{fields[cnt_type].children.city.label}}" id="{{fields[cnt_type].children.city.id}}" placeholder="{{fields[cnt_type].children.city.placeholder}}" ng-model="contact.city" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- contacts.phoneVoices -->
            <div class="col-md-5 form-group">
                <label class="bt-doc control-label" for="{{fields[cnt_type].children.phoneVoices.id}}" uib-tooltip="{{fields[cnt_type].children.phoneVoices.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                    {{fields[cnt_type].children.phoneVoices.label}}
                </label>
                <input type="tel" class="form-control input-sm" name="{{fields[cnt_type].children.phoneVoices.label}}" id="{{fields[cnt_type].children.phoneVoices.id}}" placeholder="{{fields[cnt_type].children.phoneVoices.placeholder}}" ng-model="contact.phoneVoices" />
            </div>
            <!-- contacts.emails -->
            <div class="col-md-7 form-group _has-warning">
                <label class="bt-doc control-label" for="{{fields[cnt_type].children.emails.id}}" uib-tooltip="{{fields[cnt_type].children.emails.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                    {{fields[cnt_type].children.emails.label}}
                </label>
                <input type="mail" class="form-control input-sm" name="{{fields[cnt_type].children.emails.label}}" id="{{fields[cnt_type].children.emails.id}}" placeholder="{{fields[cnt_type].children.emails.placeholder}}" ng-model="contact.emails" />
            </div>
        </div>
        <div class="row">
            <!-- Logo -->
            <!--
            <div class="col-md-12">
                <label for="{{fields[cnt_type].children.logo.id}}" uib-tooltip="{{fields[cnt_type].children.logo.description}}" tooltip-trigger="mouseenter" tooltip-placement="right">
                    {{fields[cnt_type].children.logo.label}}
                    <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="modalDoc('documentation/md/empty.md')"></span>
                </label>
            </div>
            -->
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bt-doc control-label" for="{{fields.data_browsegraphics.children.logoUrl.id}}" uib-tooltip="{{fields[cnt_type].children.logoUrl.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                        {{fields[cnt_type].children.logoUrl.label}}
                    </label>
                    <input type="text" class="form-control input-sm" name="{{fields[cnt_type].children.logoUrl.id}}" id="{{fields[cnt_type].children.logoUrl.id}}" placeholder="{{fields[cnt_type].children.logoUrl.placeholder}}" ng-model="contact.logoUrl" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="bt-doc control-label" for="{{fields[cnt_type].children.logoDescription.id}}" uib-tooltip="{{fields[cnt_type].children.logoDescription.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="modalDoc('documentation/md/empty.md')">
                        {{fields[cnt_type].children.logoDescription.label}}
                    </label>
                    <input type="text" class="form-control input-sm" name="{{fields[cnt_type].children.logoDescription.label}}" id="{{fields[cnt_type].children.logoDescription.id}}" placeholder="{{fields[cnt_type].children.logoDescription.placeholder}}" ng-model="contact.logoDescription" />
                </div>
            </div>
        </div>
        <hr />
    </div>
    <div class="row">
        <div class="col-md-12 btn-toolbar">
            <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-plus" aria-hidden="true" ng-click="addContact()"></button>
        </div>
    </div>
</div>
