<!-- Modal edit-->
<!--<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">-->
<form id="modal-edit-form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Get XML</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" id="xml-content" name="xml-content" placeholder="XML content" ng-model="md.xml"></textarea>
            <!--<input type="hidden" class="" id="txt-note-id" name="txt-note-id" ng-model="note">-->
        </div>
        <ul ng-show="md.errors">
            <li ng-repeat="error in md.errors" ng-if="scopeParent.md_errors[error] != ''">[{{error}}] - {{scopeParent.md_errors[error]}}</li>
        </ul>
        <div ng-show="!md.url">
            {{scopeParent.ui.modal_download.no_server}}
        </div>
    </div>
    <div class="modal-footer">
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>-->
        <!--<div class="pull-right">-->
        <!--<button type="submit" class="btn btn-primary" ng-click="download()"><span class="glyphicon glyphicon-floppy-save"></span> Download</button>-->
        <!-- <div class="btn-group" ng-show="md.url">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-floppy-save"></span> Download file
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li><a href="php/index.php?act=downloadXML&url={{md.url}}" target="_blank">Format XML</a></li>
                <li role="separator" class="divider"></li>
                <li class="disabled"><a href="php/index.php?act=downloadJSON&url={{md.url}}" target="_blank">Format JSON</a></li>
                <li class="disabled"><a href="php/index.php?act=downloadXLSX&url={{md.url}}" target="_blank">Format XLSX</a></li>
            </ul>
        </div> -->
        <div class="btn-group" uib-dropdown ng-show="md.url">
            <button type="button" class="btn btn-primary" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-floppy-save"></span> Download file
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li><a href="php/index.php?act=downloadXML&url={{md.url}}" target="_blank">Format XML</a></li>
                <li role="separator" class="divider"></li>
                <li class="disabled"><a href="php/index.php?act=downloadJSON&url={{md.url}}" target="_blank">Format JSON</a></li>
                <li class="disabled"><a href="php/index.php?act=downloadXLSX&url={{md.url}}" target="_blank">Format XLSX</a></li>
            </ul>
        </div>
        <div class="btn-group" uib-dropdown ng-hide="md.url">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                <span class="glyphicon glyphicon-floppy-save"></span> Download file
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" >
                <li><a href="#" ng-click="downloadXML()" target="_blank">Format XML</a></li>
                <li role="separator" class="divider"></li>
                <li class="disabled"><a href="#" ng-click="downloadJSON()" target="_blank">Format JSON</a></li>
                <li class="disabled"><a href="#" ng-click="downloadXLSX()" target="_blank">Format XLSX</a></li>
            </ul>
        </div>

        <!--<a ng-show="md.url" href="php/index.php?act=downloadXML&url={{md.url}}" target="_blank" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-save"></span> Download file</a>
                <a ng-hide="md.url" href="#" class="btn btn-primary" ng-click="downloadXML()"><span class="glyphicon glyphicon-floppy-save"></span> Download XML file</a>-->
        <!--<button type="submit" class="btn btn-primary btn-sm_" ng-click="noteDuplicate()">Duplicate</button>-->
        <!--<button type="submit" class="btn btn-primary btn-sm_" ng-click="noteClear()"><span class="glyphicon glyphicon-erase"></span> Erase</button>-->
        <button type="button" class="btn btn-primary" ng-click="close()"><span class="glyphicon glyphicon-close"></span> Close</button>
        <!--<button type="submit" class="btn btn-primary btn-sm_" ng-click="noteDelete()"><span class="glyphicon glyphicon-trash"></span></button>-->
        <!--</div>-->
    </div>
</form>
<!--
    </div>
  </div>
</div>-->
